section{
  margin: 0px 8px 6px 8px;
  height: 570px;  
}
#slider {
  background: #333;
  overflow:hidden;
  height: 100%;
}
h1 {
  font-size: 2em;
  color: #eee;
  display: inline-block;
}
a {
  color: white;
}
p {
  margin-top: 1em;
  text-align: center;
  color: #aaa;
}
@media (max-width: 901px){
  section{
    margin: 0px 9px 2px 0px;
    height: 700px;
  }
}