*{
  margin: 0;
  padding: 0;
}
header{
  height: 55px;
  margin: 6px 8px;
  z-index: 1000;
}
#nav-wrapper{
  height: 55px;
  background-color: #E1BEE7;
  border-radius: 1px;
  z-index: 1001;
}
#nav-wrapper::after{
  content: " ";
  display: block;
  clear: both;
}
nav.left{
  float: left;
  width: 6%;
  height: 100%;
  color: rgb(223, 211, 211);
}
nav.right {
  float: right;
  height: 100%;
}
nav.left > ul > li > span{
  float: left;
  display: none;
  line-height: 2.5;
}
nav.left > ul > li#logo{
  float: right;
  line-height: 2.5;
}
nav > ul > li > #linkSiteName{
  text-decoration: none;
}
nav > ul{
  list-style: none;
}
nav > ul > li{
  float: left;
  text-align: center;
  line-height: 2.5;
}
#search{
  margin: 10px 8px 0 0;
  width: 320px;
  padding: 7px;
  background-color: white;
  border-radius: 4px;
}
[type="search"]{
  outline-offset: -22px;
}
nav.right > ul > li > img{
  margin: 2px 10px;
}
nav > ul > li > .link{
  display: block;
  width: 90px;
  font-size: 17px;
  color: white;
  text-decoration: none;
}
nav.right > ul > li > .link:hover{
  border-bottom: 2px solid white;
  color: rgb(194, 102, 102);
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#user-mob-img{
  display: none;
  margin: 2px 10px;
}
@media (max-width: 901px){
  header{
    margin: 0px 9px 2px 0px;
  }
  nav.right > ul{
    display: none;
  }
  nav.left{
    width: 115px;
  }
  nav.right > #user-mob-img{
    display: block;
    margin: 2px 10px;
    line-height: 2.5;
  }
  nav.left > ul > li > span{
    display: inline-block;
    margin: 0px 8px 0px 8px;
    font-size: 22px;
    width: 30px;
    text-align: center;
  }
  nav.left > ul > li > span:hover{
    background-color: grey;
    cursor: pointer;    
  }
  nav.left > ul > li#logo{
    margin: 3px 0px;
  }
}





